{% extends 'base.html.twig' %}

{% block title %}Typesproperty index{% endblock %}

{% block body %}
    <h1>Typesproperty index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Types_property</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typesproperty in typesproperties %}
            <tr>
                <td>{{ typesproperty.id }}</td>
                <td>{{ typesproperty.typesProperty }}</td>
                <td>{{ typesproperty.updatedAt ? typesproperty.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_typesproperty_show', {'id': typesproperty.id}) }}">show</a>
                    <a href="{{ path('app_typesproperty_edit', {'id': typesproperty.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_typesproperty_new') }}">Create new</a>
{% endblock %}
